{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer-wrapper" role="contentinfo">
    <div class="row">
        <div class="footer-social-links">
            <div class="social-media">
                <ul>
                    <li> <a target="_blank" href="//www.instagram.com/theozbrand/"><span>instagram</span> <strong>instagram</strong></a></li>
                    <li><a href="//www.facebook.com/theozbrand"><span>facebook</span> <strong>facebook</strong></a></li>
                    <li><a target="_blank" href="//twitter.com/theozclothing"><span>twitter</span> <strong>twitter</strong></a></li>
                </ul>
            </div>
        </div>      
    </div>

    <div class="container">
        {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">Powered by <a href="//patortiz.rocks" rel="nofollow">Pat Ortiz</a></p>
            </div>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">&copy; <span id="copyright_year"></span> {{settings.store_name}} </p>
            </div>
            <script type="text/javascript">
                document.getElementById("copyright_year").innerHTML = new Date().getFullYear();
            </script>
        {{/if}}
    </div>
</footer>
