{{#if banners.top}}
<div class="banners" data-banner-location="top">
    <div class="banner">
        {{{limit banners.top 1}}}
    </div>
</div>
{{/if}}
<header class="header hidden-sm hidden-xs" role="banner" id="header">
    <div class="inner-header">
        <ul class="left-nav inline nav-wrap">
            {{#each pages}}
                <li>
                    <a href="{{url}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
        <div class="logo-wrap inline">
            <img src="{{cdn '/assets/img/theoz-black.svg'}}" alt="">
        </div>
        <ul class="right-nav inline nav-wrap">
          {{#each categories}}
              <li>
                  <a href="{{url}}">{{name}}</a>
              </li>
          {{/each}}  
        </ul>
    </div>

</header>
